<?xml version="1.0" encoding="UTF-8"?>

<!-- The root node for Magento module configuration -->
<config>
    <modules>
        <Glace_Booking>
            <version>0.0.8</version>
        </Glace_Booking>
    </modules>
    <global>
        <helpers>
            <booking>
                <class>Glace_Booking_Helper</class>
            </booking>
        </helpers>
 		<blocks>
            <booking>
                <class>Glace_Booking_Block</class>
            </booking>
            <adminhtml>
            	<rewrite>
            		<catalog_product_edit_tab_attributes>Glace_Booking_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
            		<catalog_product_edit_tab_options_option>Glace_Booking_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
            	</rewrite>
            </adminhtml>
        </blocks>
        <models>
        	<catalog>
        		<rewrite>
        			<product_option>Glace_Booking_Model_Product_Option</product_option>
        		</rewrite>
        	</catalog>
        	<booking>
            	<class>Glace_Booking_Model</class>
            	<resourceModel>booking_resource</resourceModel>
            </booking>
            <booking_resource>
       			 <class>Glace_Booking_Model_Resource</class>
        			<entities>
        				<book>
                            <table>booking_book</table>
                        </book>
                        <book_item>
                            <table>booking_book_item</table>
                        </book_item>
                        <book_pricerule>
                            <table>booking_book_pricerule</table>
                        </book_pricerule>
                        <book_excludeday>
                        	<table>booking_book_excludeday</table>
                        </book_excludeday>
                        <book_time>
                        	<table>booking_book_time</table>
                        </book_time>
                        <book_session>
                        	<table>booking_book_session</table>
                        </book_session>
                        <book_session_time>
                        	<table>booking_book_session_time</table>
                        </book_session_time>
        			</entities>
    		</booking_resource>
    	</models>
    	<catalog>
            <product>
                <type>
                    <booking translate="label" module="booking">
                        <label>Booking Product</label>
                        <model>booking/product_type_booking</model>
                        <price_model>booking/product_type_booking_price</price_model>
                        <composite>0</composite>
                    </booking>
                </type>
            </product>
        </catalog>
        <pdf>
            <invoice>
                <booking>booking/sales_order_pdf_items_invoice</booking>
            </invoice>
            <creditmemo>
                <booking>booking/sales_order_pdf_items_creditmemo</booking>
            </creditmemo>
        </pdf>
    	 <resources>
            <booking_setup>
                <setup>
                    <module>Glace_Booking</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </booking_setup>
        </resources>


        <catalog>
            <product>
                <options>
                    <custom>
                        <groups>
                            <multidate translate="label" module="booking">
                                <label>Booking type</label>
                                <render>booking/adminhtml_catalog_product_edit_tab_options_type_multidate</render>
            					<types>
                                    <multidate_type translate="label" module="booking">
                                        <label>Mulitple date</label>
                                    </multidate_type>
                                </types>
                            </multidate>
                        </groups>
                    </custom>
                </options>
            </product>
        </catalog>

    </global>
    <adminhtml>
    <translate>
            <modules>
                <booking>
                    <files>
                        <default>Glace_Booking.csv</default>
                    </files>
                </booking>
            </modules>
        </translate>
    	<fieldsets>
    		<catalog_product_dataflow>
    			<exclude_day>
                    <internal>1</internal>
                </exclude_day>
            </catalog_product_dataflow>
    	</fieldsets>
        <layout>
            <updates>
                <booking>
                    <file>glace/booking.xml</file>
                </booking>
            </updates>
        </layout>
        <events>
        	<catalog_model_product_duplicate>
        		<observers>
            		<glace_booking_duplicate>
            			<type>singleton</type>
            			<class>booking/observer</class>
            			<method>duplicateProduct</method>
            		</glace_booking_duplicate>
            	</observers>
        	</catalog_model_product_duplicate>
            <sales_order_save_before>
            	<observers>
            		<glace_booking_validate_order>
            			<type>singleton</type>
            			<class>booking/observer</class>
            			<method>validateBookingInOrder</method>
            		</glace_booking_validate_order>
            	</observers>
            </sales_order_save_before>
            <sales_order_place_after>
            	<observers>
            		<glace_booking_save_book>
            			<type>singleton</type>
            			<class>booking/observer</class>
            			<method>saveBookOptions</method>
            		</glace_booking_save_book>
            	</observers>
            </sales_order_place_after>
            <sales_order_item_cancel>
            	<observers>
            		<glace_booking_clean_book>
           				<type>singleton</type>
           				<class>booking/observer</class>
           				<method>cleanCanceledBooks</method>
            		</glace_booking_clean_book>
            	</observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
            	<observers>
            		<glace_booking_clean_book>
           				<type>singleton</type>
           				<class>booking/observer</class>
           				<method>cleanCreditMemoBooks</method>
            		</glace_booking_clean_book>
            	</observers>
            </sales_order_creditmemo_save_after>
        </events>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <booking/>
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <booking>
                    <files>
                        <default>Glace_Booking.csv</default>
                    </files>
                </booking>
            </modules>
        </translate>
    	<layout>
            <updates>
                <booking>
                    <file>glace/booking.xml</file>
                </booking>
            </updates>
        </layout>
        <routers>
            <booking>
                <use>standard</use>
                <args>
                    <module>Glace_Booking</module>
                    <frontName>booking</frontName>
                </args>
            </booking>
        </routers>
        <events>
            <sales_order_save_before>
            	<observers>
            		<glace_booking_validate_order>
            			<type>singleton</type>
            			<class>booking/observer</class>
            			<method>validateBookingInOrder</method>
            		</glace_booking_validate_order>
            	</observers>
            </sales_order_save_before>
            <sales_order_place_after>
            	<observers>
            		<glace_booking_save_book>
            			<type>singleton</type>
            			<class>booking/observer</class>
            			<method>saveBookOptions</method>
            		</glace_booking_save_book>
            	</observers>
            </sales_order_place_after>
            <checkout_cart_product_add_after>
                <observers>
                    <glace_booking_valid_cart>
                        <class>booking/observer</class>
                        <method>checkCartAdd</method>
                    </glace_booking_valid_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <book before="Mage_Adminhtml">Glace_Booking_Adminhtml</book>
                        <frontName>booking</frontName>
                    </modules>
                </args>
            </adminhtml>
            <!--<booking>-->
                <!--<use>admin</use>-->
                <!--<args>-->
                    <!--<module>Glace_Booking</module>-->
                    <!--<frontName>booking</frontName>-->
                <!--</args>-->
            <!--</booking>-->
        </routers>
    </admin>
</config>